<!DOCTYPE html>
<html lang="en">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='home.css') }}">
<h1 class = "b">Cost of Living Calculator</h1>
<h2 class= "b"> By Takiur Rahman, Joseph Olanya, and Eric Phillips</h2>
<body>

  <div style="width: 100%;">

    <div class= "form1">
  <h2 class= "b"> Information </h2>
        <form action="/" method="POST">
  <label for="income">What is your monthly income?</label><br>
  <input type="text" name="income" ><br>


  <label for="yes_mealp">Are you taking the Commuter Meal plan?</label><br>
  <input type="radio"  name="yes_mealp" value="Yes">
  <label for="yes_mealp">Yes</label><br>
  <input type="radio" id="no_mealp" name="no_mealp" value="No">
  <label for="no_mealp">No</label><br>

  <label for="public">Will you use public transportation or private transportation?</label><br>
  <input type="checkbox" id="public" name="public" value="Public"  >
  <label for="private">Public</label>
  <input type="checkbox" id="private" name="private" value="Private" onclick="privateCheck()">
  <label for="tran_type">Private</label><br>
  <div id="ifPrivate" style="visibility:hidden">
  <label  for="tran_cost">What is your monthly estimated private transportation expense?</label><br>
  <input type = "text" id = "tran_cost" name = "tran_cost" value = 0>
    </div>

<label for="Household_size">How many people will live in your household?</label><br>
<input type="text" id="Household_size" name="Household_size"><br>

<input type="reset">
            <button type="submit" value="submit">Calculate</button>

  </form>
        </div>


<div class= "statOutput">
            <h2 class= "b"> Results </h2>
    {%if rent %}
    <p id="rent">Rent: {{rent}} </p>
  <p id="transportation">Transportation: {{ transportation }} </p>
  <p id="meal">Meal: {{ meal }} </p>
  <p id="utilities"> Utilities: {{ utilities }} </p>
  <p id="misnsavings">Miscellanious and Savings: {{ misnsavings }} </p>
  <p id="household"> Household Size: {{ household_size }}</p>
    {% endif %}
        </div>
    </div>

<h2 class= "bb">Listings</h2>
  {%if rent %}
{%for i in range(0, len)%}
  <div class= "listings">
  <p>  Listing Name: {{parsed_list[i]["Post Name"]}}</p>
  <p>  Bedrooms: {{parsed_list[i]["Number of Bedrooms"]}}</p>
  <p>  Rent: {{parsed_list[i]["Price Per Month"]}}</p>
  <p>  Rent Per Person: {{parsed_list[i]["Price Per Student"]}}</p>
  <p>  Link: {{parsed_list[i]["Link"]}}</p>
  <p>  Date Posted: {{parsed_list[i]["Posting Date"]}}</p>
  </div>
{% endfor %}
{% endif %}
</body>

<script>function privateCheck() {

    if (document.getElementById('private').checked) {
        document.getElementById('ifPrivate').style.visibility = 'visible';
    }
    else {document.getElementById('ifPrivate').style.visibility = 'hidden';
         }
}</script>
</html>
